body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background-color:#000;
	margin:0;
	overflow:hidden;
}
.container{
			position:relative;
			width:200px;
			height:200px;
}
.square{
		position:absolute;
		top:50%;
		left:50%;
		width:100px;
		height:100px;
		border:2px solid transparent;
		transform:translate(-50%, -50%);
		box-sizing:border-box;
}
.blue-neon{
			border-color:#00ffff;
			transform:translate(-50%, -50%) rotate(25deg);
			box-shadow:0 0 10px 00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
}
.orange-neon{
			 border-color:#ffa500;
			transform:translate(-50%, -50%) rotate(-25deg);
			box-shadow:0 0 10px #ffa500, 0 0 20px #ffa500, 0 0 30px #ffa500, 0 0 40px #ffa500;
}